.main-sidebar{

}
.nav .show{
    animation: show .5s ease-in-out forwards;
    -webkit-animation: show .5s ease-in-out forwards;
    overflow: hidden;
}
.nav .nav-item {
    width: 100%;
}
.nav .nav-item .active{

}
.hidden{
    max-height: 0;
    overflow: hidden;
    animation: hidden .5s  forwards;
    -webkit-animation: hidden .5s forwards;
}

@keyframes show{
    0%{
        max-height: 0;
    }
    100%{
        max-height: 234px;
    }
}
@keyframes hidden{
    0%{
        max-height: 234px;
    }
    100%{
        max-height: 0;
    }
}


.nav-link .fa-angle-left {
    transition: 1s ease-in-out;
    transform: rotate(0deg);

}
.nav-link .rotate{
    transform: rotate(-90deg);
    transition: 1s ease-in-out;
} 

