.rotate{
    animation: rotate-keyframes .5s;
    animation-fill-mode: forwards;
}

@keyframes rotate-keyframes{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-90deg)
    }
}