
.no-padding{
    padding: 0;
    margin: 0;
}
.carousel{
    width: 100%;
    max-width: 475px;
    height: 55vh;
}
.carousel-inner{
    height: 100%;
    width: 100%;
    padding: 3rem 0 2rem 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-item{
    height: 100%;
    width: 100%;
}


.caption{
    height: 15vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    max-width: 475px;
    width: 100%;
    padding: 0 1rem;
    color: #555;
}
.caption > h5{
    font-weight: 600;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    color: black;
}
.carousel-item .fa-chart-bar, .fa-desktop{
    display: block;
    font-size: 150px;
    color: rgba(5, 5, 5, .1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

/* SLIDE 2 STYLING */
.circle{
    border: 1px solid red;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.circle i{
    color: #ff5722;
}
.circle .user-container,.circle .bug-container,.circle .project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: #f5bfaf;
    position: absolute;
    z-index: 1;
}
.circle .user-container{
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}
.circle .bug-container{
    right: -5px;
    top: 20px;
}
.circle .project-container{
    left: -5px;
    top: 20px;
}
.circle-rotate{
    animation-name: circle-rotate;
    -webkit-animation-name: circle-rotate;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
}
.bug-rotate{
    animation-name: bug-rotate;
    -webkit-animation-name: bug-rotate;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
}
/* END SLIDE 2 STYLING */

/* SLIDE 3 STYLING */
.platform-container{
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    height: 45vh;
    max-width: 100%;
    width: 300px;
    position: relative;

}
.carousel-item .desktop-container{
    left: 37%;
    top: 4px;
    transform: translate(-50%) perspective( 200px ) rotateY( 30deg );
    
    position: absolute;
}
.carousel-item .desktop-container > i{
    color: #ff5722;
    font-size: 120px;
}
.carousel-item .mobile-container{
    color: #297373;
    font-size: 45px;
    position: absolute;
    top: 70px;
    left: 63%;
}
.carousel-item .tablet-container{
    color: #39393A;
    font-size: 70px;
    position: absolute;
    top: 40px;
    left: 40%;
}
.tablet-screen{
    position: absolute;
    left: 42%;
    top: 62px;
    background: #fff;
    border-radius: 2px;
    height: 47px;
    width: 48px;
}
.tablet-screen > .ion-bug{
    left: 52%;
    font-size: 40px;
    top: 2px;
}

/* END SLIDE 3 STYLING */

/* INDICATOR SLYLING */
.carousel-indicators{
    margin: 0;
    padding: 0;
}
.carousel-indicators li{
    color: black;
    background-color: #ff5722;
    border-radius: 100%;
    height: 5px;
    width: 5px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
   color: black;
}
@media only screen and (max-width: 480px){
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
}
/* END INDICATOR STYLING */

/* ANIMATION FOR SLIDE 2 */
@keyframes circle-rotate{
    from{
        opacity: 0;
        transform: scale(0) translate(-50%) rotate(0deg);
    }
    to{
        opacity: 1;
        transform: scale(1) translate(-50%) rotate(359deg)
    }
}
@-webkit-keyframes circle-rotate{
    from{
        opacity: 0;
        -webkit-transform: translate(-50%) rotate(0deg);
    }
    to{
        opacity: 1;
        -webkit-transform: translate(-50%) rotate(359deg)
    }
}
@keyframes bug-rotate{
    from{
        opacity: 0;
        transform: scale(0) translate(-50%) rotate(-30deg);
    }
    to{
        opacity: 1;
        transform: scale(1) translate(-50%) rotate(330deg)
    }
}
@-webkit-keyframes bug-rotate{
    from{
        opacity: 0;
        -webkit-transform: translate(-50%) rotate(-30deg);
    }
    to{
        opacity: 1;
        -webkit-transform: translate(-50%) rotate(330deg)
    }
}
/* END SLIDE 2 ANIMATION */

/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width:475px){
   
    .caption{
       padding: 0 5px;
       margin: 0;
   }
}
/* END MEDIA QUERY FOR MOBILE */