.splash-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.splash-screen__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.splash-screen .ion-bug{
    transform: rotate(-30deg);
    font-size: 150px;
    color: #fc460f
}