.auth-page{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-page form{
    width: 100%;
    color: #555;
}
#emailHelp{
    color: rgba(0, 0, 0, .8);
    font-style: italic;
}
.auth-page .btn{
    width: 100%;
    background-color: #ff5722;
    border-color: #ff5722;
    margin-top: 1rem;
}
.auth-page .btn:hover{
    background-color: #ff9800;
    border-color: #ff9800;
}

