.landing-page{
    background: #0B486B;
    background: -webkit-linear-gradient(to right,#ff5722, #ff9800 ); 
    background: linear-gradient(to right,#ff5722, #ff9800 );
    display: flex;
    height: 100vh;

}

.modal-dialog{
    border-radius: 0px;
    padding: 0;
    max-width: 475px;
    width: 100%;
    position: absolute;
    top: -15px;
    right: 50%;
    transform: translate(50%);
    height: 80vh;
}
.modal-content{
    margin: 0;
    padding: 0;
    max-width: 475px;
    width: 100%;
    border-radius: 0px;
}

.landing-page .modal-header{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
}
.landing-page .modal-header .logo{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-header .ion-bug{
    color: #ff5722;
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translate(-50%) rotate(-30deg)
}
.landing-page .modal-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.logo{
    width: 50px;
}
.intro{
    color: #fff;
    max-width: 80%;
    width: 50%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0,-50%);
}
.intro > h1 {
    font-size: 70px;
    margin-bottom: 2rem;
}
.intro > h5 {
    font-size: 40px;
}
.intro > p {
    font-size: 20px;
}
.intro .ion-bug{
    color: #a33816;
    transform: rotate(-30deg);
    font-size: 100px;
    text-shadow: 4px 2px 7px rgba(255,255,255,0.66);
}

@media only screen and ( max-width: 480px){
    .intro{
        display: none;
    }
    .landing-page{
        background: none;
    }
    .modal-dialog{
        width: 100%;
        margin: 0px;
        padding: 0px;
        border: none;
        height: 100vh;
        transform: translate(0);
        position: static !important;
    }
    .modal-content{
        border: none;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }
    .modal-body{
        width: 100%;
    }
}