.landing-page{
    background: #0B486B;
    background: -webkit-linear-gradient(to right,#ff5722, #ff9800 ); 
    background: linear-gradient(to right,#ff5722, #ff9800 );
    display: flex;
    height: 100vh;

}

.modal-dialog{
    border-radius: 0px;
    padding: 0;
    max-width: 425px;
    width: 100%;
    position: absolute;
    top: 5%;
    right: 5%;
    height: 80vh;
}
.modal-content{
    margin: 0;
    padding: 0;
    max-width: 425px;
    width: 100%;
    border-radius: 0px;
}

.landing-page .modal-header{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
}
.landing-page .modal-header .logo{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-header .ion-bug{
    color: #ff5722;
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translate(-50%) rotate(-30deg)
}
.landing-page .modal-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.logo{
    width: 50px;
}
.intro{
    border: 1px solid red;
}
@media only screen and ( max-width: 480px){
    .intro{
        display: none;
    }
    .landing-page{
        background: none;
    }
    .modal-dialog{
        width: 100%;
        margin-right: 0px;
        padding: 0px;
        border: none;
        height: 100vh;
        position: static !important;
    }
    .modal-content{
        border: none;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }
    .modal-body{
        width: 100%;
    }
}